.set-font {
    font-family: 'balooregular';
}

/* NavBar ------------------------------------------------------------------------------------------------------------*/
.navbar{
background-color: #E7C6FF;
padding: 0;
} 

.navbar-link {
    width: 100px;
    height: 75px;
}

.navbar-link-text {
    width: 100px;
    height: 75px;
    padding-top: 26px;
    font-family: 'balooregular';
}

.navbar-link-text:link {
    color: white;
    text-decoration: none;
}

.navbar-link-text:visited {
    color: white;
    text-decoration: none;
}

.navbar-link-text:hover {
    color: #E7C6FF;
    text-decoration: none;
    background-color: white;
}

/* Search Bar ----------------------------------------------------------------------------------------------------------------- */

.search-bar {
    width: 100%;
}

.form-content {
    padding-top: 15px;
    padding-left: 40px;
    padding-right: 40px;
}

#search-for-images {
    margin-top: 15px;
    margin: 0px;
}

.search-bar input {
    width: 100%;
    border-radius: 5px;
}

.search-bar button {
    width: 100%;
    border: 0px;
    background-color: #E7C6FF;
    color: white;
    border-radius: 5px;
    margin-top: 5px;
}

.button-container {
    margin-top: 25px !important;
    margin-bottom: 50px !important
}

.button-container button {
    color: white;
    background-color: #E7C6FF;
    border-color: white;
    border-width: 2px;
    border-radius: 3px;
}

.button-container span {
    display: inline-block;
    vertical-align: bottom;
    line-height: 1;
}

/* TAGS -------------------------------------------------------------------------------------------------------------- */

#tags {
    margin-top: 35px;
}

.tags-list {
    margin: 0px;
    padding: 0px;
    padding-bottom: 5px;
    list-style: none;
}

.tags-list li:hover {
    background-color: #f3e3ff;
    text-decoration: underline;
}

.tags-list a {
    text-decoration: none;
}

.tag-suggestion-list {
    padding: 0px;
    border: solid 1px black;
    border-radius: 5px;
}

.tag-suggestion {
    list-style: none;
    text-align: left;
    padding: 3px;
    display:flex;
}

.tag-suggestion p {
    text-align: right;
    margin: 0;
    color: #585858
}

.tag-suggestion span {
    flex: 1;
    text-align: left;
}

.tag-suggestion:hover{
    list-style: none;
    text-align: left;
    background-color: #f3e3ff;
    text-decoration: underline;
}

.tag-p {
    margin: 0px;
    color: #585858
}

.tag-p a {
    padding-right: 5px;
}

.tag-legend {
    padding: 0px;
    width: 10em;
}

.circle {
    color:white;
    width: 25px;
    height: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    background: red;
    margin-bottom:5px;
}

/* IMAGE DISPLAY STUFF ---------------------------------------------------------------------------------------------------- */

.big-image {
    max-width: 100%;
    height: auto !important;
}

.img-grid {
    margin-top: 80px !important;
}

.img-thumbnail {
    margin: 5px;
    width: 150px;
    height: 100px;
}

.item-per-dropdown {
    margin-bottom: 10px;
    padding-right: calc(var(--bs-gutter-x) * .5);
    display: flex;
    justify-content: flex-end;
}

.dropdown-container{
    background-color:#E7C6FF;
    color: white;
    padding: 10px;
    padding-top: 11px;
    border-radius: 5px;
}

.dropdown-container select {
    color: white;
    background-color: #E7C6FF;
    border-color: white;
    border-width: 2px;
    border-radius: 3px;
}

/* About/Contact Pages  -------------------------------------------------------------------------------------------------------------*/ 

.about {
    padding-left: 1rem;
}

.about h2 {
    padding-top: 1rem;
}